In [262]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format

In [225]:
# Load CSV File
df = pd.read_csv("salaries_by_college_major.csv")

# Quick look at the DataFrame

In [226]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

# Answer This Questions
Now that we've got our data loaded into our dataframe, we need to take a closer look at it to help us understand what it is we are working with. This is always the first step with any data science project. Let's see if we can answer the following questions: 

* How many rows does our dataframe have?  
* How many columns does it have? 
* What are the labels for the columns? Do the columns have names? 
* Are there any missing values in our dataframe? Does our dataframe contain any bad data?

In [227]:
df.shape

(51, 6)

In [228]:
# 51 rows and 6 columns, lets take a look at the column names
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

# Missing Values and Junk Data
Before we can proceed with our analysis we should try and figure out if there are any missing or junk data in our dataframe. 
That way we can avoid problems later on. In this case, we're going to look for NaN (Not A Number) values in our dataframe. 
NAN values are blank cells or cells that contain strings instead of numbers. 
Use the .isna() method and see if you can spot if there's a problem somewhere.

In [229]:
df.isna

<bound method DataFrame.isna of                      Undergraduate Major  Starting Median Salary  \
0                             Accounting                 46000.0
1                  Aerospace Engineering                 57700.0
2                            Agriculture                 42600.0
3                           Anthropology                 36800.0
4                           Architecture                 41600.0
5                            Art History                 35800.0
6                                Biology                 38800.0
7                    Business Management                 43000.0
8                   Chemical Engineering                 63200.0
9                              Chemistry                 42600.0
10                     Civil Engineering                 53900.0
11                        Communications                 38100.0
12                  Computer Engineering                 61400.0
13                      Computer Science                 55900.0
14                          Construction                 53700.0
15                      Criminal Justice                 35000.0
16                                 Drama                 35900.0
17                             Economics                 50100.0
18                             Education                 34900.0
19                Electrical Engineering                 60900.0
20                               English                 38000.0
21                                  Film                 37900.0
22                               Finance                 47900.0
23                              Forestry                 39100.0
24                             Geography                 41200.0
25                               Geology                 43500.0
26                        Graphic Design                 35700.0
27            Health Care Administration                 38800.0
28                               History                 39200.0
29                 Hospitality & Tourism                 37800.0
30                Industrial Engineering                 57700.0
31           Information Technology (IT)                 49100.0
32                       Interior Design                 36100.0
33               International Relations                 40900.0
34                            Journalism                 35600.0
35  Management Information Systems (MIS)                 49200.0
36                             Marketing                 40800.0
37                                  Math                 45400.0
38                Mechanical Engineering                 57900.0
39                                 Music                 35900.0
40                               Nursing                 54200.0
41                             Nutrition                 39900.0
42                            Philosophy                 39900.0
43                   Physician Assistant                 74300.0
44                               Physics                 50300.0
45                     Political Science                 40800.0
46                            Psychology                 35900.0
47                              Religion                 34100.0
48                             Sociology                 36500.0
49                               Spanish                 34000.0
50                 Source: PayScale Inc.                     NaN

    Mid-Career Median Salary  Mid-Career 10th Percentile Salary  \
0                    77100.0                            42200.0
1                   101000.0                            64300.0
2                    71900.0                            36300.0
3                    61500.0                            33800.0
4                    76800.0                            50600.0
5                    64900.0                            28800.0
6                    64800.0                            36900.0
7                    72100.0                            38800.0
8                   107000.0                            71900.0
9                    79900.0                            45300.0
10                   90500.0                            63400.0
11                   70000.0                            37500.0
12                  105000.0                            66100.0
13                   95500.0                            56000.0
14                   88900.0                            56300.0
15                   56300.0                            32200.0
16                   56900.0                            36700.0
17                   98600.0                            50600.0
18                   52000.0                            29300.0
19                  103000.0                            69300.0
20                   64700.0                            33400.0
21                   68500.0                            33900.0
22                   88300.0                            47200.0
23                   62600.0                            41000.0
24                   65500.0                            40000.0
25                   79500.0                            45000.0
26                   59800.0                            36000.0
27                   60600.0                            34600.0
28                   71000.0                            37000.0
29                   57500.0                            35500.0
30                   94700.0                            57100.0
31                   74800.0                            44500.0
32                   53200.0                            35700.0
33                   80900.0                            38200.0
34                   66700.0                            38400.0
35                   82300.0                            45300.0
36                   79600.0                            42100.0
37                   92400.0                            45200.0
38                   93600.0                            63700.0
39                   55000.0                            26700.0
40                   67000.0                            47600.0
41                   55300.0                            33900.0
42                   81200.0                            35500.0
43                   91700.0                            66400.0
44                   97300.0                            56000.0
45                   78200.0                            41200.0
46                   60400.0                            31600.0
47                   52000.0                            29700.0
48                   58200.0                            30700.0
49                   53100.0                            31000.0
50                       NaN                                NaN

    Mid-Career 90th Percentile Salary     Group
0                            152000.0  Business
1                            161000.0      STEM
2                            150000.0  Business
3                            138000.0      HASS
4                            136000.0  Business
5                            125000.0      HASS
6                            135000.0      STEM
7                            147000.0  Business
8                            194000.0      STEM
9                            148000.0      STEM
10                           148000.0      STEM
11                           143000.0      HASS
12                           162000.0      STEM
13                           154000.0      STEM
14                           171000.0  Business
15                           107000.0      HASS
16                           153000.0      HASS
17                           210000.0  Business
18                           102000.0      HASS
19                           168000.0      STEM
20                           133000.0      HASS
21                           136000.0      HASS
22                           195000.0  Business
23                           111000.0  Business
24                           132000.0      HASS
25                           156000.0      STEM
26                           112000.0      HASS
27                           101000.0  Business
28                           149000.0      HASS
29                           124000.0  Business
30                           173000.0      STEM
31                           129000.0      STEM
32                           107000.0      HASS
33                           157000.0      HASS
34                           145000.0      HASS
35                           146000.0      STEM
36                           175000.0  Business
37                           183000.0      STEM
38                           163000.0      STEM
39                           134000.0      HASS
40                            98300.0  Business
41                            99200.0      HASS
42                           168000.0      HASS
43                           124000.0      STEM
44                           178000.0      STEM
45                           168000.0      HASS
46                           127000.0      HASS
47                            96400.0      HASS
48                           118000.0      HASS
49                            96400.0      HASS
50                                NaN       NaN  >

In [230]:
# Did you find anything? Check the last couple of rows in the dataframe:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [231]:
# Aha! We have a row that contains some information regarding the source of the data with blank values for all the other columns.

In [232]:
# Delete the Last Row
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

# Accessing Columns and Individual Cells in a Dataframe
Find College Major with Highest Starting Salaries

To access a particular column from a data frame we can use the square bracket notation, like so:

```clean_df['Starting Median Salary']```

You should see all the values printed out below the cell for just this column:

In [233]:
clean_df["Starting Median Salary"]

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

## To find the highest starting salary we can simply chain the .max() method.

In [234]:
clean_df["Starting Median Salary"].max()

74300.0

## The highest starting salary is $74,300. But which college major earns this much on average? For this, 
## we need to know the row number or index so that we can look up the name of the major. Lucky for us, the ```.idxmax()``` method will 
## give us index for the row with the largest value.

In [235]:
# which is 43. To see the name of the major that corresponds to that particular row, we can use the .loc (location) property.
clean_df["Undergraduate Major"].loc[clean_df["Starting Median Salary"].idxmax()]

'Physician Assistant'

# Challenges
Now that we've found the major with the highest starting salary, can you write the code to find the following:

* What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

* Which college major has the lowest starting salary and how much do graduates from earn after university?

* Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [236]:
# Highest mid-career salary major 
# First we selected the major column, then we get the id of heights salary and pass it with loc, so we can select only the name of major
clean_df["Undergraduate Major"].loc[clean_df["Mid-Career Median Salary"].idxmax()]

'Chemical Engineering'

In [237]:
# Which college major has the lowest starting salary and how much do graduates from earn after university?
clean_df["Undergraduate Major"].loc[clean_df["Starting Median Salary"].idxmin()]

'Spanish'

In [238]:
clean_df[clean_df["Undergraduate Major"] == "Spanish"][["Undergraduate Major", "Starting Median Salary"]]

   Undergraduate Major  Starting Median Salary
49             Spanish                 34000.0

In [239]:
# Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?
clean_df["Undergraduate Major"].loc[clean_df["Mid-Career Median Salary"].idxmin()]

'Education'

In [240]:
clean_df[clean_df["Undergraduate Major"] == "Education"][["Undergraduate Major", "Mid-Career Median Salary"]]

   Undergraduate Major  Mid-Career Median Salary
18           Education                   52000.0

In [241]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
# inserts column to the dataframe
# clean_df.insert(loc=1, column="Spread", value=spread_col) 
clean_df

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,96200.0,35800.0,64900.0,28800.0,125000.0,HASS
6,Biology,98100.0,38800.0,64800.0,36900.0,135000.0,STEM
7,Business Management,108200.0,43000.0,72100.0,38800.0,147000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,102700.0,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,84600.0,53900.0,90500.0,63400.0,148000.0,STEM
11,Communications,105500.0,38100.0,70000.0,37500.0,143000.0,HASS
12,Computer Engineering,95900.0,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,98000.0,55900.0,95500.0,56000.0,154000.0,STEM
14,Construction,114700.0,53700.0,88900.0,56300.0,171000.0,Business
15,Criminal Justice,74800.0,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,116300.0,35900.0,56900.0,36700.0,153000.0,HASS
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
18,Education,72700.0,34900.0,52000.0,29300.0,102000.0,HASS
19,Electrical Engineering,98700.0,60900.0,103000.0,69300.0,168000.0,STEM
20,English,99600.0,38000.0,64700.0,33400.0,133000.0,HASS
21,Film,102100.0,37900.0,68500.0,33900.0,136000.0,HASS
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
23,Forestry,70000.0,39100.0,62600.0,41000.0,111000.0,Business
24,Geography,92000.0,41200.0,65500.0,40000.0,132000.0,HASS
25,Geology,111000.0,43500.0,79500.0,45000.0,156000.0,STEM
26,Graphic Design,76000.0,35700.0,59800.0,36000.0,112000.0,HASS
27,Health Care Administration,66400.0,38800.0,60600.0,34600.0,101000.0,Business
28,History,112000.0,39200.0,71000.0,37000.0,149000.0,HASS
29,Hospitality & Tourism,88500.0,37800.0,57500.0,35500.0,124000.0,Business
30,Industrial Engineering,115900.0,57700.0,94700.0,57100.0,173000.0,STEM
31,Information Technology (IT),84500.0,49100.0,74800.0,44500.0,129000.0,STEM
32,Interior Design,71300.0,36100.0,53200.0,35700.0,107000.0,HASS
33,International Relations,118800.0,40900.0,80900.0,38200.0,157000.0,HASS
34,Journalism,106600.0,35600.0,66700.0,38400.0,145000.0,HASS
35,Management Information Systems (MIS),100700.0,49200.0,82300.0,45300.0,146000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,99300.0,57900.0,93600.0,63700.0,163000.0,STEM
39,Music,107300.0,35900.0,55000.0,26700.0,134000.0,HASS
40,Nursing,50700.0,54200.0,67000.0,47600.0,98300.0,Business
41,Nutrition,65300.0,39900.0,55300.0,33900.0,99200.0,HASS
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS
43,Physician Assistant,57600.0,74300.0,91700.0,66400.0,124000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM
45,Political Science,126800.0,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,95400.0,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,66700.0,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,87300.0,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,65400.0,34000.0,53100.0,31000.0,96400.0,HASS

In [242]:
low_risk = clean_df["Spread"]
low_risk.sort_values(ascending=False)

17    159400.0
22    147800.0
37    137800.0
36    132900.0
42    132500.0
45    126800.0
8     122100.0
44    122000.0
33    118800.0
16    116300.0
30    115900.0
14    114700.0
2     113700.0
28    112000.0
25    111000.0
0     109800.0
7     108200.0
39    107300.0
34    106600.0
11    105500.0
3     104200.0
9     102700.0
21    102100.0
35    100700.0
20     99600.0
38     99300.0
19     98700.0
6      98100.0
13     98000.0
1      96700.0
5      96200.0
12     95900.0
46     95400.0
24     92000.0
29     88500.0
48     87300.0
4      85400.0
10     84600.0
31     84500.0
26     76000.0
15     74800.0
18     72700.0
32     71300.0
23     70000.0
47     66700.0
27     66400.0
49     65400.0
41     65300.0
43     57600.0
40     50700.0
Name: Spread, dtype: float64

## Challenge


* Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile. 

* Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [243]:
# find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile. 
highest_potential = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [244]:
# find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation
greatest_spread = clean_df.sort_values("Spread", ascending=False)
greatest_spread[["Undergraduate Major", "Spread"]].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

## Grouping and Pivoting Data with Pandas
* Often times you will want to sum rows that belong to a particular category. For example, which category of degrees has the highest average salary? Is it STEM, Business or HASS (Humanities, Arts, and Social Science)? 

* To answer this question we need to learn to use the ```.groupby()``` method. This allows us to manipulate data similar to a Microsoft Excel Pivot Table.

* We have three categories in the 'Group' column: STEM, HASS and Business. Let's count how many majors we have in each category:

In [263]:
numeric_columns = clean_df.select_dtypes(include=[np.number])
clean_df.groupby("Group")[numeric_columns.columns].mean()  # apply the mean to all numeric columns

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"