In [88]:
import pandas as pd
import re

In [96]:
html_tables = pd.read_html("https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors")

In [160]:
df = html_tables[0].copy()
df.columns = [column.split(".")[0].removesuffix(" ") for column in df.columns]
df.head()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,Rank:1,Major:Petroleum Engineering,Degree Type:Bachelors,"Early Career Pay:$93,200","Mid-Career Pay:$187,300",% High Meaning:67%
1,Rank:2,Major:Operations Research & Industrial Enginee...,Degree Type:Bachelors,"Early Career Pay:$84,800","Mid-Career Pay:$170,400",% High Meaning:28%
2,Rank:3,Major:Electrical Engineering & Computer Scienc...,Degree Type:Bachelors,"Early Career Pay:$108,500","Mid-Career Pay:$159,300",% High Meaning:46%
3,Rank:4,Major:Interaction Design,Degree Type:Bachelors,"Early Career Pay:$68,300","Mid-Career Pay:$155,800",% High Meaning:55%
4,Rank:5,Major:Public Accounting,Degree Type:Bachelors,"Early Career Pay:$59,800","Mid-Career Pay:$147,700",% High Meaning:47%

In [173]:
df["% High Meaning "] = df["% High Meaning "].str.replace("% High Meaning:", "")

In [175]:
df

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,Public Accounting,Bachelors,"$59,800","$147,700",47%
5,6,Operations Research,Bachelors,"$83,500","$147,400",54%
6,7,Applied Economics and Management,Bachelors,"$66,100","$146,400",67%
7,8,Business Computing (BC),Bachelors,"$73,000","$143,600",-
8,9,Actuarial Mathematics,Bachelors,"$64,300","$143,400",51%
9,10,Electrical Power Engineering,Bachelors,"$76,100","$142,600",68%
10,11,Information & Computer Science,Bachelors,"$58,600","$140,900",62%
11,12,Aeronautics & Astronautics,Bachelors,"$77,600","$139,600",56%
12,13,Systems Engineering,Bachelors,"$77,700","$139,200",53%
13,14,Econometrics,Bachelors,"$64,200","$139,000",35%
14,15,Pharmacy,Bachelors,"$68,600","$138,700",78%
15,16,Aerospace Studies,Bachelors,"$55,800","$136,600",-
16,17,Building Science,Bachelors,"$53,800","$135,900",53%
17,17,Chemical Engineering,Bachelors,"$76,900","$135,900",55%
18,19,Cognitive Science,Bachelors,"$68,700","$135,200",42%
19,20,Actuarial Science,Bachelors,"$67,700","$134,400",43%
20,21,Political Economy,Bachelors,"$65,100","$133,500",29%
21,22,Computer Systems Engineering,Bachelors,"$79,000","$133,200",51%
22,23,Electrical & Computer Engineering (ECE),Bachelors,"$78,100","$131,600",49%
23,24,Computer Science (CS) & Engineering,Bachelors,"$79,400","$131,300",44%
24,24,Marine Engineering,Bachelors,"$79,900","$131,300",60%

In [176]:
df.dropna()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$93,200","$187,300",67%
1,2,Operations Research & Industrial Engineering,Bachelors,"$84,800","$170,400",28%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$108,500","$159,300",46%
3,4,Interaction Design,Bachelors,"$68,300","$155,800",55%
4,5,Public Accounting,Bachelors,"$59,800","$147,700",47%
5,6,Operations Research,Bachelors,"$83,500","$147,400",54%
6,7,Applied Economics and Management,Bachelors,"$66,100","$146,400",67%
7,8,Business Computing (BC),Bachelors,"$73,000","$143,600",-
8,9,Actuarial Mathematics,Bachelors,"$64,300","$143,400",51%
9,10,Electrical Power Engineering,Bachelors,"$76,100","$142,600",68%
10,11,Information & Computer Science,Bachelors,"$58,600","$140,900",62%
11,12,Aeronautics & Astronautics,Bachelors,"$77,600","$139,600",56%
12,13,Systems Engineering,Bachelors,"$77,700","$139,200",53%
13,14,Econometrics,Bachelors,"$64,200","$139,000",35%
14,15,Pharmacy,Bachelors,"$68,600","$138,700",78%
15,16,Aerospace Studies,Bachelors,"$55,800","$136,600",-
16,17,Building Science,Bachelors,"$53,800","$135,900",53%
17,17,Chemical Engineering,Bachelors,"$76,900","$135,900",55%
18,19,Cognitive Science,Bachelors,"$68,700","$135,200",42%
19,20,Actuarial Science,Bachelors,"$67,700","$134,400",43%
20,21,Political Economy,Bachelors,"$65,100","$133,500",29%
21,22,Computer Systems Engineering,Bachelors,"$79,000","$133,200",51%
22,23,Electrical & Computer Engineering (ECE),Bachelors,"$78,100","$131,600",49%
23,24,Computer Science (CS) & Engineering,Bachelors,"$79,400","$131,300",44%
24,24,Marine Engineering,Bachelors,"$79,900","$131,300",60%