In [11]:
import pandas as pd

In [12]:
test_df = pd.DataFrame({'Age': ['Young', 'Young', 'Young', 'Young', 'Old', 'Old', 'Old', 'Old'],
                        'Actor': ['Jack', 'Arnold', 'Keanu', 'Sylvester', 'Jack', 'Arnold', 'Keanu', 'Sylvester'],
                        'Power': [100, 80, 25, 50, 99, 75, 5, None]})
test_df

     Age      Actor  Power
0  Young       Jack  100.0
1  Young     Arnold   80.0
2  Young      Keanu   25.0
3  Young  Sylvester   50.0
4    Old       Jack   99.0
5    Old     Arnold   75.0
6    Old      Keanu    5.0
7    Old  Sylvester    NaN

In [13]:
pivoted_df = test_df.pivot(index="Age", columns="Actor", values="Power")
pivoted_df

Actor  Arnold   Jack  Keanu  Sylvester
Age
Old      75.0   99.0    5.0        NaN
Young    80.0  100.0   25.0       50.0